.graphbox2 {
    width: 20rem;
    height: 17rem;
    margin-left:0rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }


  .graphbox3 {
    width: 20rem;
    height: 17rem;
    margin-left: 21rem;
    margin-top: -18rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphbox4 {
    width: 14rem;
    height: 17rem;
    margin-left: 42rem;
    margin-top: -18rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphbox5 {
    width: 25rem;
    height: 17rem;
    margin-left: 57rem;
    margin-top: -18rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .vertbox{
    width: 83rem;
    height: 5rem;
    margin-left: 0rem;
    border-radius: 1rem;
   background-color: white;

  }

  
  .graphbox44 {
    width: 24rem;
    height: 17rem;
    margin-left:0rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphbox45 {
    width: 28rem;
    height: 17rem;
    margin-left:25rem;
    margin-top: -18rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphbox46 {
    width: 28rem;
    height: 17rem;
    margin-left:54rem;
    margin-top: -18rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }



  