.graphbox2 {
    width: 20rem;
    height: 17rem;
    margin-left:0rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }


  .graphbox3 {
    width: 20rem;
    height: 17rem;
    margin-left: 21rem;
    margin-top: -18.8rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphbox4 {
    width: 14rem;
    height: 17rem;
    margin-left: 42rem;
    margin-top: -18.9rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphbox5 {
    width: 25rem;
    height: 17rem;
    margin-left: 57rem;
    margin-top: -18.9rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .vertbox{
    width: 83rem;
    height: 5rem;
    margin-left: 0rem;
    border-radius: 1rem;
   background-color: white;

  }

  
  .graphbox44 {
    width: 24rem;
    height: 17rem;
    margin-left:0rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphbox45 {
    width: 28rem;
    height: 17rem;
    margin-left:25rem;
    margin-top: -18.7rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphbox46 {
    width: 28rem;
    height: 17rem;
    margin-left:54rem;
    margin-top: -18.8rem;
    border-radius: 2rem;
    background-color: whitesmoke;
  }

  .graphtext{
    margin-left: 1.5rem;
    padding-top: 1rem;
    font-weight: 500;
    font-size: 29px;
  }

  .graphnumber{
    margin-left: 1.5rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    
  }

  .graphheader{
    margin-left: 1.5rem;
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .date{
    margin-left: 1.5rem;
    font-size: 1rem;
  }
  
  

  .pendingshipments{
    margin-left: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    padding: .5rem;
  }

  .downloadingreports{
    margin-left: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    padding: .5rem;
  }

  .createshipment{
    margin-left: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    padding: .5rem;
  }


  .movebtn{
    margin-left: 55rem;
    margin-top: -2.5rem;
    
  }





  